<footer>
  <div class="contact">
    <h3>Kontakta oss</h3>
    <p><b>Email:</b> placeholder@gmail.com</p>
    <p><b>Tel:</b> 073 123456789</p>
    <p><b>Adress:</b> Placeholder 123 56, Stockholm</p>
  </div>
  <div class="copyright">
    <p>© Copyright 2022 Placeholder</p>
  </div>
</footer>