<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Document</title>
</head>
<body>
  <%- include('./components/header')%>

   
  <div class="hero">
    <div class="hero-info">
      <p>Fotbollsklubben Nackademin FC
      </p>
      <h2>Gemenskap, Glädje, <br>Sammanhållning</h2>
      <a href="/blimedlem"> Bli medlem nu!</a>
    </div>
    <video autoplay muted loop id="myVideo">
      <source src="media/football.mp4" type="video/mp4">
    </video>  
  </div>
  
  <div class="container">
    <main>
      <h2>Om oss!</h2>
      <p>
        Välkomna till Nackademins första fotbollsklubb. Nackademin FC bildades genom ett gäng studenter som ville spela fotboll mellan studierna. 
        <br>
        <br>
        Nackademin FC har ambitionen att bli Stockholms främsta klubb inom elitfotbollen både på herr & damsidan. Vi är väl medvetna om att detta kommer att ta tid men arbetet med att skapa en organisation för att uppnå detta pågår. För oss är fotboll en aktivitet för hela familjen, det skall vara trevligt att se på och heja fram Nackademin FC. Vår ambition är att spela trevlig, teknisk och resultatinriktad fotboll som drar till sig fotbollsintresserade.
        <br>
        <br>
        Vi tycker att det är viktigt att vi ger förutsättningar åt så många som möjligt att leka och spela fotboll. Därför är det nödvändigt att ha en klar strategi för hur man skall kombinera utvecklingen hos alla spelare i föreningen med lek.  Oavsett ålder eller kön finns det alltid en möjlighet till ett lag att träna och spela i.
      </p>
    </main>
    <aside></aside>
  </div>
  <%- include('./components/footer')%>
</body>
</html>