<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/medlemmar.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <%- include('./components/header')%>
  <div class="hero">
  </div>
  <div class="nav">
    <div class="sorting" >
      <label for="sorting">Sortera Medlemmar</label>
      <select name="sorting" onchange="location = this.value;">
          <option value="" disabled selected>-></option>
          <option value="/medlemmar/acending">A till Ö</option>
          <option value="/medlemmar/decending">Ö till A</option>
      </select>
    </div>
  </div>
  <div class="container">
    <% members.forEach((member) => { %>
    <a href="/medlem/<%= member._id%>">
      <div class="image"><i class="bi bi-person-circle"></i></div>
      <h3><%=member.name %></h3>
    </a>
    <% }) %>
  </div>
  <%- include('./components/footer')%>

</body>
</html>