@import 'header.css';
@import 'footer.css';


*,
*::before,
*::after{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  background-repeat: no-repeat;
  background-size: cover;
  }


  .hero{
    position: absolute;
    align-items: center;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    color: white;
    background-image: url('/media/donnycocacola--3pxa1O1zoI-unsplash.jpg');
    background-size: cover;
    background-position-y:-200px ;
    background-repeat: no-repeat;
  }

  .nav{
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 520px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
  }

  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 200px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

  .sorting{
    display: flex;
    flex-direction: column;
  }
  .container{
    margin: auto;
    width: 100%;
    margin-top: 420px;
    position: relative;
    height: auto;
    min-height: 500px;
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(4, 1fr);

  } 

  .container a {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    text-decoration: none;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.1) ;
    padding: 0px;

  }
  .container a .image{
    width: 100%;
    height: 70%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .container a .image .bi{
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
  }

  .container a h3{
    text-decoration: underline;
  }
