@import 'header.css';
@import 'footer.css';


*,
*::before,
*::after{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-image: url('/media/timothy-tan-PAe2UhGo-S4-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  }


  .hero{
    position: absolute;
    align-items: center;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    color: white;

  }

  .nav{
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
  }

  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 200px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

  .sorting{
    display: flex;
    flex-direction: column;
  }
  .container{
    margin: auto;
    width: 100%;
    margin-top: 250px;
    position: relative;
    height: auto;
    min-height: 500px;
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(4, 1fr);
    color: white
  } 

  .containers{
    margin: 20px;
    width: 300px;
    display: grid;
    grid-template-columns: 50px 200px 50px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
  }

  .containers .left{
    position: relative;
    grid-column: 1;
    border-radius: 12px 0px 0px 12px;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .containers .left::before{
    position: absolute;
    content: "";
    right: 0px;
    height: 98%;
    width: 94%;
    border-radius: 8px 0px 0px 8px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    transform: translateY(1%);
  }
  .containers .right{
    position: relative;
    grid-column: 3;
    border-radius: 0px 12px 12px 0px;
    border-right: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .containers .right::before{
    position: absolute;
    content: "";
    height: 98%;
    width: 94%;
    border-radius: 0px 8px 8px 0px;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    transform: translateY(1%);
  }

  .containers .middle{
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-rows: 30px 1fr 30px;
  }

  .containers .middle h3{
    font-size: 33px;
    grid-row: 1;
  }
  .containers .middle h4{
    font-size: 33px;
    grid-row: 3;
  }

  .member-info{
    grid-row: 2;
    height: 100%;
  }

  .member-info .image{
    font-size: 150px;
    margin-top: 50px;
    color: white;
  }

  .member-info p a{
    font-size: 35px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
  }
  